<br><br>

<footer class="text-light">
    <div class="container">
        <p> © LivePoll</p>
       <p>
    New to LivePoll? <a href="../../">Visit the homepage</a>
    Developed by: <a href="https://www.linkedin.com/in/ankush-kumar210103" target="_blank">Ankush Kumar</a>
</p>

    </div>
</footer>